  :root {
    --main-bg-color: #000000;
    --minor-bg-color: #fbf9ffcc;
    --main-frt-color: #fbf9ffcc;
  }

.sjtu, .sjtu-image{
    position: relative;
    left: 0%;
    margin-left: REM(0);
    opacity: 0;
    animation: bottomToTop 15s -8s ease infinite forwards;
    -webkit-animation: bottomToTop 15s -8s ease infinite forwards;
}

.umich, .umich-image{
    position: relative;
    left: 0%;
    margin-left: REM(0);
    opacity: 0;
    animation: bottomToTop 15s -3s ease infinite forwards;
    -webkit-animation: bottomToTop 15s -3s ease infinite forwards;
}

.hz2z, .hz2z-image{
    position: relative;
    right: 0%;
    margin-right: REM(0);
    opacity: 0;
    animation: bottomToTop 15s 2s ease infinite forwards;
    -webkit-animation: bottomToTop 15s 2s ease infinite forwards;
}


@keyframes bottomToTop {
    0%   {opacity: 0; top: -50px;}
    66%  {opacity: 0; top: -50px;}
    70% {opacity: 1; top:50px;}
    90% {opacity: 1; top:50px;}
    100% {opacity: 0; top: 150px;}
}