
.education-flip div:first-child {
    animation: show 6s linear infinite;
}


  
@keyframes show {
    0% {margin-top:-210px;}
    5% {margin-top:-185px;}
    33% {margin-top:-185px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}
